<div class='card'>
  <div class='card-header'>
    {{pageTitle}}
  </div>
  <div class='card-body'>
    <div class='row'>
      <div class='col-md-2'>Filter by:</div>
      <div class='col-md-4'>
        <input type='text' [(ngModel)]="listFilter"/>
      </div>
    </div>
    <div class='row'>
      <div class='col-md-6'>
        <h4>Filtered by: {{listFilter}} </h4>
      </div>
    </div>
    <div class='table-responsive'>
      <table class='table'
              *ngIf="orders&&orders.length">
        <thead>
        <tr>
          <th>
<!--            <button class='btn btn-primary'>
              Show Image
            </button>-->
          </th>
          <th>Order ID</th>
          <th>inviter ID</th>
          <th>Date</th>
          <th>Product Name</th>
          <th>Price</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let order of orders">
          <td><button class='btn btn-primary'>
            Edit order
          </button></td>
          <td>{{order.orderId}}</td>
          <td>{{order.inviterId}}</td>
          <td>{{order.date}}</td>
          <td>{{order.productName}}</td>
          <td>{{order.price| currency}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

